* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  margin: 0.5em;
  min-width: 350px;
}

.Header {
  background-color: #a72608;
  color: #e6eed6;
  padding: 20px;
  width: 100%;
  border-radius: 0.4em;
}

.Nav {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  text-align: center;
}

.Nav__categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Nav__category-listitem {
  list-style-type: none;
}

.Nav__category-link {
  text-decoration: none;
  display: inline;
  padding: 0.1em 0.5em;
  color: #b2bd9e;
}

.Nav__category-link--selected {
  text-decoration: none;
  color: #a72608;
}

.Nav__form {
  display: flex;
  height: fit-content;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dde2c6;
  border-radius: 5px;
  padding: 0;
  background-color: white;
  font-size: 0.8em;
  box-shadow: 5px 3px #e6eed6;
  width: 100%;
}

.Nav__form:focus {
  outline: 2px solid #a72608;
}

.Nav__search-input {
  margin: 10px;
  border: none;
  height: 1.5em;
  width: 300px;
  font-size: inherit;
  color: grey;
  flex: 1;
}

.Nav__search-input:focus {
  outline: none;
}

.Nav__search-icon {
  position: relative;
  flex: 0;
  top: 2px;
  left: 4px;
  width: 14px;
  margin-left: 0.5em;
}

.Nav__category-selector {
  border: none;
  height: 1.5em;
  margin-left: 1em;
  font-size: inherit;
  color: grey;
  margin-right: 0.5em;
}

.ReviewsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ReviewsList__item {
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  margin: 0.5em 0;
}

.ReviewCard {
  display: grid;
  width: auto;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1.2em 2.2em 1fr 1fr;
  height: fit-content;
  border: 1px solid #e6eed6;
  border-radius: 0.4em;
  padding: 0.5em;
  background-color: #dde2c6;
}

.ReviewCard:hover {
  background-color: #e6eed6;
}

.ReviewCard__category {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  color: #819263;
}

.ReviewCard__title {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  font-size: 1.6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ReviewCard__image {
  grid-column: 1/2;
  grid-row: 3/5;
  width: 90px;
  height: auto;
  border-radius: 4px;
}

.ReviewCard__owner {
}

.ReviewCard__owner_name {
  font-style: italic;
}

.ReviewCard__body {
  grid-row: 4 / 5;
  grid-column: 2/3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
